[bumpversion]
current_version = 3.2.5

[bumpversion:file:scs.m]

[bumpversion:file:scs.prj]
search = <param.version>{current_version}</param.version>
replace = <param.version>{new_version}</param.version>

